
body {
    font-family: sans-serif;
}

.navcontainer {
    background-color: rgba(16, 196, 196, 0.884);
    width: 90%;
    padding: 1em;
    box-shadow: 0 14px 28px gray;
    margin: auto;
    padding: 10px;
}

div.navmenu ul li a
{
    text-decoration: none ;
    color: black;
    transition: 0.5s all;
    padding: 10px;
}

div.navmenu ul li a:hover
{
    text-decoration: none ;
    color: white;
    transition:  0.5s;
    padding: 16px;
    background-color: rgb(7, 116, 92);
    box-shadow: 0 14px 28px black;
}

div.navmenu ul 
{
    list-style: none;

}

div.navmenu ul li {
    display: inline-block;
}

.mainsectioncontainer {
    background-color: white;
    width: 90%;
    padding: 1em;
    box-shadow: 0 14px 28px gray;
    margin: auto;
    padding: 10px;
    margin-top: 30px;
}