/* CSS Document */

/*
.placeholder {
	
	background-color: #1e1e1e
}*/

body{
	/* font-family: Verdana, Geneva, Tahoma, sans-serif; */
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	width: 100%;

}


.nav-wrapper {
	display: flex;
	justify-content: space-between;
	padding: 28px;
	background-color: #f2b61c;
	flex-wrap: wrap;

}

.nav-wrapper_dark {
	display: flex;
	justify-content: space-between;
	padding: 28px;
	background-color: black;
	background-image: url("transdrogzdjecia/finalne/industry2.jpg");
	background-position: center;
	background-size: 100%;
	align-items: center;
	flex-wrap: wrap-reverse;
}

.left-side {
	display: flex;
	flex-wrap: wrap;
	
}

.brand {
	font-size: larger;
	font-weight: bold;
	margin-top: 1em;
	text-shadow: 2px 4px 6px #b67c00;
}


.nav-wrapper> .left-side > div {
	margin-right:20px;
	margin-top: 1em;
	font-size: 1.1em;
	text-transform: uppercase
		
}

.nav-wrapper_dark> .left-side > div {
	margin-right:20px;
	font-size: 1.1em;
	text-transform: uppercase;
	margin-top: 1em;
}
.nav-link-wrapper {
	height: 22px;

}

.nav-link-wrapper a {
	color: white;
	text-decoration: none;
	transition: all 0.5s;
	text-shadow: 0 4px 8px #815d00;
}

.nav-link-wrapper a:hover {
	background-color: #ffb806;
	box-shadow: 0 7px 14px black;
	text-shadow: 0 4px 8px #ffdb80;
	padding: 1em;
	color: black; }
	
.nav-link-wrapper_dark {
	height: 22px;
	transition: border-bottom 0.5s;
}

.nav-link-wrapper_dark a {
	color: white;
	text-decoration: none;
	transition: all 0.5s;
	text-shadow: 2px 4px 8px black;
}

.nav-link-wrapper_dark a:hover {
	background-color: #f2b61c;
	color: black; 
	box-shadow: 0 7px 14px white;
	text-shadow: 0 4px 8px #ffdb80;
	padding: 1em;
	transition: all 0.5s;
	; }

.titlesection {
	padding: 40px;
	background-image: url("transdrogzdjecia/finalne/titleback1.jpg");
	background-position: center;
	background-size: 150%;
	background-color: #1e1e1e;
	height: auto;
	background-repeat: no-repeat;
	
}
.mainlogo {
	display: flex;
	justify-content: center;
}

.mainlogocontainer {
	width: 710px;
	height: 190px;
	background-image: url("transdrogzdjecia/nowelogopasek.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;

}

.titlesec {	
	text-align: center;
	font-size: 1.5em;
	color: #f2b61c;
	padding: 10px;
}
.titlesec2 {	
	text-align: center;
	font-size: 1.5em;
	color: white;
	padding: 0px;
	overflow-wrap: break-word;
}

.mainsection1 {
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: #f2b61c;
	text-align: center;	

}
.head2 {
	color: white;
	padding-left: 2em;
	padding-right: 2em;
	font-size: 1.5em;
	width: 80%;
	margin: auto;
}
.Jestesmytext {
	text-align: center;
	font-weight: bold;
	font-size: 1.3em;
	width: 80%;
	margin: auto;
	max-width: 1200px;
}
.mainsection2 {
	background-color: #f2b61c;
	padding: 1em;
	
}
.box {
	padding: 10px;
	background-color: #1e1e1e;
	text-align: center;	
	color: #f2b61c;
}
.text1 {
	font-size: 4em;
	font-weight: bold;
	padding: 10px;
}
.text2 {
	font-size: 1.2em;
	font-weight: bold  ;

}

@media (min-width: 800px) {
.sec2wraper {
		width: 80%;
		max-width: 900px;
		margin: auto;
		display: grid;
		grid-template-columns:1fr 1fr 1fr;
		grid-gap:1em;

}}
@media (max-width: 800px) {
.sec2wraper {
		width: 80%;
		max-width: 1000px;
		margin: auto;
		display: grid;
		grid-template-columns:1fr 1fr;
		grid-gap:1em;

	}}

.button1 {
	height: 50px;
	width: max-content;
	background: #1e1e1e;
	padding-left: 30px;
	padding-right: 30px;
	border: 0;
	

}
.button1 a {
	color: #f2b61c;
	font-size: 1.8em;
	font-weight: bolder;
	text-decoration: none ;
	transition: color 0.5s	
}
.button1:hover {
	height: 50px;
	width: max-content;
	background: white;
	padding-left: 30px;
	padding-right: 30px;
	border: 0;
		
}
.button1:hover a{
	color: black;
	transition: color 0.5s	
}
.button2 {
	height: 50px;
	width: max-content;
	background: #f2b61c;
	padding-left: 30px;
	padding-right: 30px;
	border: 0;
}
.button2 a{
	color: white;
	font-size: 1.8em;
	font-weight: bolder;
	text-decoration: none;
	transition: color 0.5s	
}

.button2:hover {
	height: 50px;
	width: max-content;
	background: #1e1e1e;
	padding-left: 30px;
	padding-right: 30px;
	border: 0;

}
.button2:hover a{
	color: #f2b61c;
	transition: color 0.5s	
}
.mainsection3{
	padding: 1em;
	background-color: white;
	margin: auto;
}

.container3 {
	padding: 1em;
	width: 100%;
	margin: auto;
	text-align: center;
	color: white;
}
.zaufali {
	text-align: center;
	color: #f2b61c;
	font-size: 4em;
}
.logos1 {
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
	align-items: center;
}
.log1 {
	background-image: url("transdrogzdjecia/logos/strabag-logo.jpg");
	background-repeat: no-repeat;
	width: 400px;
	height: 200px;

}
.log2 {
	background-image: url("transdrogzdjecia/logos/skanska.jpg");
	background-repeat: no-repeat;
	width: 400px;
	height: 200px;
	margin-top: 10px;
}
.log3 {
	background-image: url("transdrogzdjecia/logos/Budimex.jpg");
	background-repeat: no-repeat;
	width: 400px;
	height: 200px;
}
.log4 {
	background-image: url("transdrogzdjecia/logos/budimex-dromex\ logo.jpg");
	background-repeat: no-repeat;
	width: 400px;
	height: 200px;
	padding: 10px;
}
.log5 {
	background-image: url("transdrogzdjecia/logos/Drogmost.jpg");
	background-repeat: no-repeat;
	width: 400px;
	height: 200px;
	padding: 10px;
}

.mainsection4 {
	background-color: #1e1e1e;
	text-align: left;
	
}
@media (min-width: 1060px) {
	.sec4box1 {
		display: flex;
		flex-wrap: wrap;
		justify-content:center;
		background-color: #f2b61c;
		max-width: 1000px;
		margin: auto;
		margin-top: 2em;
		padding: 0.5em;
		font-size: 1.4em
}}

@media (max-width: 1060px) {
	.sec4box1 {
		display: flex;
		flex-wrap: wrap;
		justify-content:center;
		background-color: #f2b61c;
		max-width: 550px;
		margin: auto;
		margin-top: 2em;
		padding: 0.5em;
		font-size: 1.1em
	}}

/* @media only screen and (max-width: 1000px) {
	.sec4box1 {
		display: flex;
		flex-wrap: wrap;
		justify-content:center;
		background-color: #f2b61c;
		max-width: 450px;
		margin: auto;
		margin-top: 2em;
		padding: 0.5em;
	}} */

.sec4box1left {
	max-width: 580px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10x;
	;
	text-align: left;
}
	

.mainsection5 {
	/* display: grid;
	grid-template-columns: 1fr; */
	padding: 0px;
	background-image: url("transdrogzdjecia/shutterstock/industry1.jpg");
	background-position: center;
	background-size: 150%;
	background-color: white;
	height: auto;
	background-repeat: no-repeat;
	text-align: center;

}
.container5 {
	padding-top: 50px;
	padding-bottom: 50px;
	color: white;
	font-size: 2em;
	text-shadow: 0 7px 7px black;
}

footer {
	background-color: #1e1e1e;
	padding: 1em;
}
.footercontainermain{
	display: flex;
	justify-content: space-between;
	padding: 1em;
	
	align-items: center;
	flex-wrap: wrap;

}
.footerlogo {
	background-image: url("transdrogzdjecia/nowelogopasek.png");
	background-position: center;
	background-size: 100%;
	height: 100px;
	width: 400px;
}
 
.footercontainer1 {
	/* height: 100px;
	width: 400px; */
	padding: 5px;
	;
	
}
.list dt{
	color: white;
	text-align: left;
	font-size: 1.3em;

}
.list dt a{
	color: #f2b61c;

}
.onasmainsection2 {
	background-color: white;
	padding: 1em;

}

.onassec4box1 {
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
	max-width: 1100px;
	margin: auto;
	margin-bottom: 2em;
	margin-top: 2em;

}

.onascontainer3 {
	color: black;
}

@media (min-width: 1090px) {
.onassec4box1left {
	max-width: 480px;
	color: black;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 10px;
	font-size: 1.3em;
	text-align: left;
}


.onassec4box1right .onassec4box2right .onassec4box3right {
	height: 500px;
	width: 500px;
}}

@media (max-width: 1090px) {
.onassec4box1left {
	max-width: 600px;
	color: black;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 10px;
	font-size: 1.3em;
	text-align: left;
}


.onassec4box1right .onassec4box2right .onassec4box3right {
	height: 600px;
	width: 600px;
}}

.onasmainsection5 {
	padding-top: 2em ;
	background-image: url("transdrogzdjecia/shutterstock/industry1.jpg");
	background-position: center;
	background-size: 150%;
	background-color: white;
	height: auto;
	background-repeat: no-repeat;
	text-align: center;

}
.onascontainer5 {
	padding-top: 100px;
	padding-bottom: 100px;
	color: white;
	font-size: 3em;
	text-shadow: 0 10px 10px black;
	
}

.ofertacontainer {
	max-width: 1200px;
	margin: auto;
}
.ofertabox1 {
	display: flex;
	padding: 1em;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}
.oferatext1 {
	max-width: 700px;
	padding: 1em;
	font-size: 1.2em;
}
.ofertacontainer2 {
	padding: 2em;
	max-width: 1200px;
	display: flex;
	margin: auto;
	flex-wrap: wrap;
	justify-content: space-around;
}
.ofertabox2 {
	max-width: 300px;
}	
.photoboxcontainer {
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: center;
	padding: 2em;
	}
.photobox {
	padding: 5px;
	overflow: hidden;
}
.photobox img {
	transition: transform .5s ease;
}

.photobox:hover img {
	transform: scale(1.15);
}
.ofertatextcontainer {
	max-width: 700px;
	margin: auto;
	font-size: 1.3em;
}

.ofertatextcontainer p {
	text-align: justify;
}

.ralizacjeboxcontainer {
	max-width: 1200px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 1em;
}

.realizacjebox {
	height: 440px;
	width: 360px;
	box-shadow: 0 7px 14px black;
	margin: 1em;
}

.realizacjelogobox1{
	height: 240px;
	background-image: url("transdrogzdjecia/ikony/2880px-A1-PL.svg.png");
	background-position: center;
	background-size: 150%;
	background-repeat: no-repeat;
	}
.realizacjelogobox2{
	height: 240px;
	background-image: url("transdrogzdjecia/ikony/2880px-A2-PL.svg.png");
	background-position: center;
	background-size: 150%;
	background-repeat: no-repeat;
	}
.realizacjelogobox3{
	height: 240px;
	background-image: url("transdrogzdjecia/ikony/A4-PL.svg.png");
	background-position: center;
	background-size: 140%;
	background-repeat: no-repeat;
	}

.realizacjelogobox4{
	height: 240px;
	background-image: url("transdrogzdjecia/ikony/2880px-S3-PL.svg.png");
	background-position: center;
	background-size: 150%;
	background-repeat: no-repeat;
	}
.realizacjelogobox5{
	height: 240px;
	background-image: url("transdrogzdjecia/ikony/2880px-S5-PL.svg.png");
	background-position: center;
	background-size: 150%;
	background-repeat: no-repeat;
	}
.realizacjelogobox6{
	height: 240px;
	background-image: url("transdrogzdjecia/ikony/S6-PL.svg.png");
	background-position: center;
	background-size: 150%;
	background-repeat: no-repeat;
	}
.realizacjelogobox7{
	height: 240px;
	background-image: url("transdrogzdjecia/ikony/2880px-S8-PL.svg.png");
	background-position: center;
	background-size: 150%;
	background-repeat: no-repeat;
	}
.realizacjelogobox8{
	height: 240px;
	background-image: url("transdrogzdjecia/ikony/Obwodnica.png");
	background-position: center;
	background-size: 90%;
	background-repeat: no-repeat;
	}
.realizacjelogobox9{
	height: 240px;
	background-image: url("transdrogzdjecia/finalne/constr500.png");
	background-position: center;
	background-size: 150%;
	background-repeat: no-repeat;

	}
.realizacjetext {
	padding: 10px;
	font-size: 1.1em;
}
.relizacjetextbig {
	padding: 30px;
	max-width: 640px;
	font-size: 1.2em;
}

.referencjeboxcontainer {
	max-width: 1200px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 1em;
}

.referencjebox {
	max-width: 300px;
	align-items: center;
	max-height: 500;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 3px 7px gray;;
	padding: 1em;
	margin-top: 1em;
	
}

.referencjebox p {
	padding: 0.3em;
	/* margin-left: 5px;
	margin-right: 5px; */
	font-style: italic;
	text-align: center;
	font-size: 1.2em;
}

.danecotainer {
	width: 80%;
	margin: auto;
	font-size: 1.2em;
}

.danecotainer p {
	max-width: 600px;
}
#map {
	height: 500px;
	width: 80%;
	margin: auto;
	padding-bottom: 2em;
	margin-bottom: 100px ;
  }